*{
    border: 1px solid white;
}

h1{
    background-color: black;
}

span{
    color: white;
}

h2{
    background-color: gray;
    display: inline-block;
    width: 48%;
}

li{
    background-color: darkgrey;
    display: inline-block;
    width: 23%;
}

.x200{
    background-color: violet;
    width: 200px;
    height: 200px;
}

.lorem{
    background-color: violet;
    width: 1800px;
    height: 50px;
}

article {
    display: inline-flex;
}
